[Install]
WantedBy=multi-user.target

[Unit]
Description=A program to tidy your folders
After=network.target

[Service]
User=$USER
Group=$USER
Type=forking
ExecStart=/usr/bin/python /usr/bin/tidy.py
